.gallery-container {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;
    margin: none;
    margin-bottom: 2rem;
    padding: none;
    gap: 1rem;
    li {
      figure {
        position: relative;
        display: grid;
        width: 100%;
        margin: 0;
        height: 100%;
        border-radius: calc(var(--border-radius) * 1.05);
        > * {
          grid-row-start: 1;
          grid-column-start: 1;
        }
        .loading {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          span {
            font-size: 5rem;
            animation: spin 800ms linear infinite;
          }
        }
        img {
          border-radius: var(--border-radius);
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}