.nav-container {
  min-height: 12rem;
  margin: 1rem 0;
  .loading {
    display: flex;
    justify-content: center;
    color: var(--gray);
  }
  .no-match {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--gray);
    p {
      margin: 0.2rem;
    }
    mark {
      background: none;
      color: var(--black);
    }
    button.suggestion {
      border: none;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      color: var(--black);
      line-height: 1rem;
      &:hover, &:focus {
        box-shadow: none;
        background: var(--red-25);
      }
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    li {
      display: contents;
      button {
        background: none;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem;
        border: 1px solid var(--lightgray);
        border-radius: var(--border-radius);
        &.active {
          --gradient: linear-gradient(to left, var(--blue), var(--purple));
          background: var(--gradient);
          border-color: transparent;
          outline: none;
          color: var(--white); 
        }
      }
    }
  }
}